@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
  margin-top: 5rem;
}

.container .header {
  position: relative;
  width: 100%;
  height: 85vh;
}

.container .header .welcome {
  width: 100%;
  position: absolute;
  top: 30%;
}

.container .header .welcome #cursor-output {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  min-height: 8rem;
  background-color: #ffffff;
}

.container .header .welcome #cursor-output h1 {
  font-size: 3rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 1rem;
}

.container .header .welcome #cursor-output p {
  font-size: 1rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 1rem;
}

.container .header .welcome #wlcm {
  background-color: #ffffff;
}

.container .header .welcome .banner {
  margin: 2rem auto;
  margin-top: 8rem;
  width: 45%;
  padding: 1rem 0;
  border-radius: 30px;
  -webkit-box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.16);
  background-image: linear-gradient(121deg, #1705ca 9%, #152d76 63%);
  color: #ffffff;
}

.container .header .welcome .banner h1 {
  font-size: 2rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.52;
  letter-spacing: normal;
  text-align: center;
}

.container .about {
  margin: 5rem auto !important;
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.container .about .text .underline {
  width: 5rem;
  height: 0.5rem;
  background-color: #c8c8c8;
}

.container .about .text h1 {
  font-size: 2.5rem;
}

.container .about .text h1 span {
  color: #113c9e;
}

.container .about .text #intro {
  margin-top: 0.5rem;
  font-size: 1.5rem;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.52;
  letter-spacing: normal;
  text-align: left;
  color: #474747;
}

.container .about .text #main {
  margin-top: 0.5rem;
  font-size: 1rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #7d7d7d;
}

.container .about .text .poweredWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 1rem;
}

.container .about .text .poweredWrapper .powered {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .about .text .poweredWrapper .powered img {
  width: 80%;
}

.container .about .text .poweredWrapper #hackclub img {
  width: 60%;
}

.container .about .text .poweredWrapper #coding img {
  width: 70%;
  margin-right: auto;
}

.container .about .image img {
  width: 25rem;
}

.container .reach {
  width: 100%;
  height: 25vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8))), url(../../images/back.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.8)), url(../../images/back.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #ffffff;
}

.container .reach .text {
  width: 70%;
}

.container .reach .text h1 {
  font-size: 2rem;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
}

.container .reach .button button {
  border: none;
  border-radius: 0.5rem;
  background-color: #f4f4f4;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.49;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  cursor: pointer;
  outline: none;
}

.container .team {
  width: 90%;
  margin: 2rem auto;
}

.container .team h1 {
  font-size: 2.5rem;
}

.container .team .underline {
  width: 5rem;
  height: 0.5rem;
  background-color: #c8c8c8;
}
.container .team p {
  margin-top: 0.5rem;
  font-size: 1.5rem;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.52;
  letter-spacing: normal;
  text-align: left;
  color: #474747;
}

.container .team .teamCards {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
}

.container .team .teamCards .team1 {
  cursor: pointer;
  margin: 1rem 0.5rem;
  width: 25%;
  min-width: 290px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.16);
  border-radius: 1rem;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.container .team .teamCards .team1 img {
  width: 100%;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}

.container .team .teamCards .team1 .caption {
  width: 100%;
  margin: 0.5rem 1rem;
  position: relative;
}

.container .team .teamCards .team1 .caption .expand {
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: 1.5rem;
  bottom: 2rem;
  border-radius: 100%;
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  font-size: 1rem;
  color: #000000;
}
.container .team .teamCards .team1 .caption .expand1 {
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: 4rem;
  bottom: 2rem;
  border-radius: 100%;
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  font-size: 1rem;
  color: #0077b5;
}



.container .team .teamCards .team1 .caption h1 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1rem;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.51;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}

.container .team .teamCards .team1 .caption h2 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 0.9rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #666666;
}




.container .events {
  width: 90%;
  margin: 2rem auto;
}

.container .events h1 {
  font-size: 2.5rem;
}

.container .events .underline {
  width: 5rem;
  height: 0.5rem;
  background-color: #c8c8c8;
}

.container .events p {
  margin-top: 0.5rem;
  font-size: 1.5rem;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.52;
  letter-spacing: normal;
  text-align: left;
  color: #474747;
}

.container .events .eventsCards {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
}

.container .events .eventsCards .event {
  cursor: pointer;
  margin: 1rem 0.5rem;
  width: 25%;
  min-width: 290px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.16);
  border-radius: 1rem;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.container .events .eventsCards .event img {
  width: 100%;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}

.container .events .eventsCards .event .caption {
  width: 100%;
  margin: 0.5rem 1rem;
  position: relative;
}

.container .events .eventsCards .event .caption .expand {
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: 2rem;
  bottom: 2rem;
  border-radius: 100%;
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  font-size: 1rem;
  color: #152d76;
}



.container .events .eventsCards .event .caption h1 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1rem;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.51;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}

.container .events .eventsCards .event .caption h2 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 0.8rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #666666;
}

.container .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0 -3px 6px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 -3px 6px 0 rgba(0, 0, 0, 0.19);
  background-color: #ffffff;
}

.container .footer .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .footer .top .footer-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1rem 0;
  margin-left: 4.8rem;
}

.container .footer .top .footer-text h1 {
  font-size: 1.5rem;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.53;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

.container .footer .top .footer-text p {
  font-size: 0.8rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

.container .footer .top .footer-text .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 30%;
  margin-top: 4rem;
}

.container .footer .top .footer-text .social .socialicons {
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 100%;
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
}

.container .footer .top .footer-text .social .socialicons a {
  text-decoration: none;
  outline: none;
  color: inherit;
}

.container .footer .top .footer-text .social .socialicons a .fa-instagram {
  background: linear-gradient(133deg, #ff43cd 10%, #7d06c2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container .footer .top .footer-text .social .socialicons a .fa-facebook {
  color: #3100d8;
}

.container .footer .top .footer-text .social .socialicons a .fa-linkedin {
  color: #006eff;
}

.container .footer .top .footer-text .social .socialicons a .fa-twitter {
  color: #00e0e0;
}

.container .footer .top .footer-img {
  margin: 1rem 0;
  margin-right: 4.8rem;
}

.container .footer .top .footer-img img {
  max-width: 20rem;
}

.container .footer .bottom {
  background-color: #f1f1f1;
}

.container .footer .bottom h1 {
  margin: 1rem 4.8rem;
  font-size: 0.8rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.48;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

.container .footer .bottom .fa-heart {
  color: #ff0000;
}

@media (max-width: 1000px) {
  .container .events .eventsCards .event {
    min-width: 200px;
  }
  .container .footer .top .footer-text .social {
    max-width: 50%;
  }
  .container .about .text .poweredWrapper {
    margin-top: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container .about .text .poweredWrapper .powered {
    width: 80%;
    margin: 0.5rem auto;
  }
  .container .about .text .poweredWrapper #coding img {
    margin-right: 0;
  }
}

@media (max-width: 810px) {
  .container .header .welcome #cursor-output {
    min-height: 4rem;
  }
  .container .header .welcome #cursor-output h1 {
    font-size: 1.2rem;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .container .header .welcome #cursor-output p {
    font-size: 0.8rem;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .container .header .welcome .banner {
    width: 80%;
  }
  .container .header .welcome .banner h1 {
    font-size: 1.2rem;
  }
  .container .about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container .about .image {
    text-align: center;
  }
  .container .about .image img {
    width: 20rem;
  }
  .container .reach {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container .reach .text {
    width: auto;
  }
  .container .reach .text h1 {
    font-size: 1.2rem;
    text-align: center;
  }
  .container .reach .button button {
    font-size: 1rem;
  }
  .container .events .eventsCards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container .events .eventsCards .event {
    min-width: 290px;
  }
  .container .events p {
    font-size: 1.2rem;
  }
  .container .footer .top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container .footer .top .footer-text {
    margin-left: 1rem;
  }
  .container .footer .top .footer-text .social {
    max-width: 50%;
    min-width: 50%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .container .footer .top .footer-img {
    margin: 1rem auto;
  }
  .container .footer .bottom h1 {
    margin: 1rem auto;
    text-align: center;
  }
  .container .about .text .poweredWrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container .about .text .poweredWrapper .powered {
    width: 80%;
    margin: 0.5rem auto;
  }
}

@media (max-width: 340px) {
  .container .header .welcome h1 {
    font-size: 1.5rem;
  }
  .container .header .welcome h2 {
    font-size: 1.2rem;
  }
  .container .about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container .about .text h1 {
    font-size: 2rem;
  }
  .container .about .text #intro {
    font-size: 1rem;
  }
  .container .about .text #main {
    font-size: 0.8rem;
  }
  .container .about .image img {
    width: 15rem;
  }
  .container .reach {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container .reach .text h1 {
    font-size: 1rem;
    text-align: center;
  }
  .container .reach .button button {
    font-size: 0.6rem;
  }
  .container .events h1 {
    font-size: 2rem;
  }
  .container .events p {
    font-size: 1rem;
  }
}
/*# sourceMappingURL=main.css.map */